{% load i18n %}

<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <link rel="stylesheet" href="{% static "feedback/css/layout.css" %}" type="text/css" />
  <link rel="shortcut icon" href="{% static "feedback/image/ome.ico" %}" type="image/x-icon" />
  <title>{% trans "EMDB OMERO - support" %}</title>
</head>

<body>
  <div class="bodyWrapper">
    <div><h1>Page not found <em>(404)</em></h1>
      The entry that you are looking for do not exist.<br>
      Do you want to go to <a href="/pdbe/emdb">PDBe EM</a> or 
      <a href="http://www.emdatabank.org">EMDataBank</a>
    </div>
    <div id="footer"><p>&copy; 2007-2011 University of Dundee & Open Microscopy Environment</p></div>
  </div>
</body>
</html
